* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    padding: 30px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

/* page container*/
.page {
    background-color: #eaeaea;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 4% 0;
}


/* header*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 600;
}


/* image box*/
.img-box {
    margin-inline: 1%;
    background-color: white;
    padding: 2% 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height:60%;
}

.img-box img {
    width: 100%;
    height: auto;
}


/* main */
main {
    padding-top: 4%;

}
main h4 {
    text-align: center; 
    font-size: large;   
    margin-bottom: 4%;
    font-weight: 500;
}

main ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 40%;
    margin-inline: auto;
}

main ul li:nth-last-child(2), li:last-child {
    list-style-type: none;
}

/* footer */
footer h3 {
    text-align: center;
    font-weight: 4\500;
}

footer a:link {
    color: #1eade1;
}

footer a:visited {
    color: #98a5a9;
    background-color: transparent;
}



/* responsive */

@media (max-width: 420px) {
    body {
        margin: 0;
        padding: 0;
    }

    .page {
        padding: 10% 2% 15%;
    }

    header {
        gap: 20px;
    }
    header  h1 {
        font-size: 2rem;
    }

    .img-box {
        height: 20%;
        padding: 2% 3%;
    }

    .img-box img {
        height:auto;
    }

    .img-box p {
        text-align:center;
        font-size: 15px;
        line-height: 20px;
    }

    main {
        padding: 10% 0;
    }

    main h4 {
        text-align: center; 
        font-size: 20px;   
        margin-bottom: 15%;
        font-weight: 500;
        font-weight: normal;
    }
    main p {
        font-weight: 300;
    }

    main ul {
        max-width: 80%;
        margin-inline: auto;
    }

    footer h3 {
        
        text-align: center;
        font-size: 18px;
        line-height: 30px;
        
    }


    
}